<div>
  <h1 class="font-size:40px font-weight:800 line-height:1">
    Getting started
  </h1>
  <p class="margin:10px|0 font-size:18px font-weight:300 color:hsl(200,20%,40%)">
    Install flavorcss in your project:
  </p>
  <p
    class="mono font-size:18px font-weight:300 line-height:1 border-radius:6px background:hsl(200,30%,45%) color:#fff padding:12px margin:10px|0">
    npm i --save flavorcss
  </p>
  <p class="margin:10px|0 font-size:18px font-weight:300 color:hsl(200,20%,40%)">
    Before your Element render:
  </p>
  <p
    class="mono font-size:18px font-weight:300 line-height:1 border-radius:6px background:hsl(200,30%,45%) color:#fff padding:12px margin:10px|0">
    import "flavorcss"
  </p>
  <p class="margin:10px|0 font-size:18px font-weight:300 color:hsl(200,20%,40%)">
    Flavor don't neet hundreds and thousands of css class list, replace by a grammatical rule. Sample code:
  </p>
  <p
    class="mono font-size:18px font-weight:300 line-height:1 border-radius:6px background:hsl(200,30%,45%) color:#fff padding:12px margin:10px|0">
    class="background:#00f"
  </p>
  <p class="margin:10px|0 font-size:18px font-weight:300 color:hsl(200,20%,40%)">
    The full rule example:
  </p>
  <p
    class="mono font-size:18px font-weight:300 line-height:1 border-radius:6px background:hsl(200,30%,45%) color:#fff padding:12px margin:10px|0">
    class="sm:hover:background:--blue:div"
  </p>
  <p class="margin:10px|0 font-size:18px font-weight:300 color:hsl(200,20%,40%)">
    If use flavor alias:
  </p>
  <p
    class="mono font-size:18px font-weight:300 line-height:1 border-radius:6px background:hsl(200,30%,45%) color:#fff padding:12px margin:10px|0">
    class="btn"
  </p>
</div>